doctype html

html(lang='fr')

    head
        meta(charset='utf-8')

        block title
            title Default title

        link(rel='stylesheet', href='styles/main.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,800')

    block body

    block scripts