header#header
    a#logo(href='./index.html')
        #peek Peek-a-boo
    div#menu
        a(href='./works.html') Works
        a(href='./inspiration.html') Inspiration
        a(href='./about.html') About
        a(href='./test.html') Test